In [154]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib as plt

In [155]:
df_1 = pd.read_csv('train.csv')
df_2 = pd.read_csv('test.csv')

In [156]:
df_1.head()

,id,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,0,58,1,4,152,239,0,0,158,1,3.6,2,2,7,Presence
1,1,52,1,1,125,325,0,2,171,0,0.0,1,0,3,Absence
2,2,56,0,2,160,188,0,2,151,0,0.0,1,0,3,Absence
3,3,44,0,3,134,229,0,2,150,0,1.0,2,0,3,Absence
4,4,58,1,4,140,234,0,2,125,1,3.8,2,3,3,Presence

In [157]:
df_2.head()

,id,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium
0,630000,58,1,3,120,288,0,2,145,1,0.8,2,3,3
1,630001,55,0,2,120,209,0,0,172,0,0.0,1,0,3
2,630002,54,1,4,120,268,0,0,150,1,0.0,2,3,7
3,630003,44,0,3,112,177,0,0,168,0,0.9,1,0,3
4,630004,43,1,1,138,267,0,0,163,0,1.8,2,0,7

In [158]:
if 'Heart Disease' not in df_2.columns:
    df_2['Heart Disease'] = 0

df = pd.concat([df_1,df_2], axis=0)
df = df.set_index('id')

In [159]:
df.head()

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
id,,,,,,,,,,,,,,
0,58,1,4,152,239,0,0,158,1,3.6,2,2,7,Presence
1,52,1,1,125,325,0,2,171,0,0.0,1,0,3,Absence
2,56,0,2,160,188,0,2,151,0,0.0,1,0,3,Absence
3,44,0,3,134,229,0,2,150,0,1.0,2,0,3,Absence
4,58,1,4,140,234,0,2,125,1,3.8,2,3,3,Presence

In [160]:
df.isnull().sum()[df.isnull().sum()>0]

Series([], dtype: int64)

In [161]:
df.shape

(900000, 14)

In [162]:
print(df.isnull().sum())

Age                        0
Sex                        0
Chest pain type            0
BP                         0
Cholesterol                0
FBS over 120               0
EKG results                0
Max HR                     0
Exercise angina            0
ST depression              0
Slope of ST                0
Number of vessels fluro    0
Thallium                   0
Heart Disease              0
dtype: int64

In [163]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 900000 entries, 0 to 899999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Age                      900000 non-null  int64
 1   Sex                      900000 non-null  int64
 2   Chest pain type          900000 non-null  int64
 3   BP                       900000 non-null  int64
 4   Cholesterol              900000 non-null  int64
 5   FBS over 120             900000 non-null  int64
 6   EKG results              900000 non-null  int64
 7   Max HR                   900000 non-null  int64
 8   Exercise angina          900000 non-null  int64
 9   ST depression            900000 non-null  float64
 10  Slope of ST              900000 non-null  int64
 11  Number of vessels fluro  900000 non-null  int64
 12  Thallium                 900000 non-null  int64
 13  Heart Disease            900000 non-null  object
dtypes: float64(1), int64(12), object(1)
memory usage: 103.0+ MB

In [164]:

print(df_1['Heart Disease'].value_counts(normalize=True) * 100)

Heart Disease
Absence     55.166032
Presence    44.833968
Name: proportion, dtype: float64

In [165]:
#checking for duplicates
num_duplicates = df.duplicated().sum()
print("Number of duplicate rows:", num_duplicates)

Number of duplicate rows: 0

In [166]:
df['ST depression']

id
0         3.6
1         0.0
2         0.0
3         1.0
4         3.8
         ...
899995    1.0
899996    2.8
899997    0.8
899998    0.5
899999    0.0
Name: ST depression, Length: 900000, dtype: float64

In [167]:
df["Heart Disease"] = df["Heart Disease"].replace({
    "Absence": 0,
    "Presence": 1
})

C:\Users\ASUS\AppData\Local\Temp\ipykernel_28352\2568293878.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Heart Disease"] = df["Heart Disease"].replace({

In [168]:
training_data = df[0:len(df_1)]
testing_data = df[len(df_1):]
testing_data = testing_data.drop(columns='Heart Disease')

In [169]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.metrics import roc_auc_score

In [170]:
x = training_data.drop(columns='Heart Disease')
y = training_data['Heart Disease']
X_train, X_test, Y_train, Y_test = train_test_split(x,y, test_size=0.2)
X_train.shape, Y_train.shape

((504000, 13), (504000,))

In [175]:
model_1 = LogisticRegression(max_iter=1000)
model_1.fit(X_train, Y_train)

lg_preds = model_1.predict_proba(X_test)[:,1]

roc = roc_auc_score(Y_test, lg_preds)
print("ROC AUC:", roc)

ROC AUC: 0.9501785950559396

c:\Users\ASUS\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\linear_model\_logistic.py:473: ConvergenceWarning: lbfgs failed to converge after 1000 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=1000).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [176]:
model_2 = RandomForestClassifier(n_estimators=100)
model_2.fit(X_train,Y_train)
rfc_pred = model_2.predict_proba(X_test)[:,1]

roc = roc_auc_score(Y_test,rfc_pred)
print("ROC AUC",roc)

ROC AUC 0.9470276847548851

In [177]:
model_3 = XGBClassifier()
model_3.fit(X_train,Y_train)
xgb_pred = model_3.predict_proba(X_test)[:,1]

roc = roc_auc_score(Y_test,xgb_pred)
print("ROC AUC",roc)

ROC AUC 0.9545963833093756

In [179]:
pred = model_3.predict_proba(testing_data)[:,1]
submission = pd.DataFrame({
    "id": testing_data.index,
    "Heart Disease": pred
})
submission.to_csv("submission.csv", index=False)